body{
    margin:0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  background-color: rgba(250, 235, 215, 0.384);
}
h1{
    text-align: center;
}
.e{
  text-align: center;
  font-size: 64px;
}
.nav-el{
width: 50%;
display: flex;
align-items: center;
justify-content: space-between;
}
.el{
  margin: 10px;
  text-decoration: none;
  color: black;
}


.ell{
  margin: 10px;
  text-decoration: none;
  color: black;
}
.all{  
 
}
.cart{
  background-color:blue;
  margin: 10px;
  text-align: center;
  height: 400px;
  border-radius: 20px;
  width: 350px;
}
.card{
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
.img{
  padding: 24px;
}
.img1{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.btn{
  height: 40px;
  background-color: white;
  border: none;
  border-radius: 2px;
  color: black;
}
span{
  color:rgb(218, 153, 153);
}
.p{
  color:rgb(218, 153, 153);
}
.subcard{
  
  display: flex;
}
.first{
 
  margin: 40px;
  text-align: center;
  height: 30px;
  border-radius: 20px;
  width: 300px;
}
a{
  text-decoration: none;
  margin-bottom: 100px;
}
.footer{
 background-color: rgba(111, 58, 196, 0.856);
}
.img2{
  padding: 30px;
}
.a{
  padding:30px ;
  padding-top: 0px;
  color: white;
}
.b{
  color: white;
}
.allitems{
  display: flex;
background-color: rgba(73, 73, 72, 0.253);
height: 250px;
}
.items{
  
  margin: 10px;
 
  
  margin: 30px;
}
h3{
  color: white;
}
.copy{
  background-color:  rgba(73, 73, 72, 0.253);
display: flex;
align-items: center;
justify-content: center;
margin-top: 0px;
}
.cop{
  color:white ;
}
.nav2{
  width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}